* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #E5E5E5;
}

.img-symbol {
    display: block;
    margin: 150px auto 120px auto;
}

input {
    width: 321px;
    background: #F7F7F7;
    height: 50px;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    border: none;
    display: block;
    margin: 0 auto;
}

input::placeholder {
    font-size: 15px;
    line-height: 15px;
    color: #969696;
    padding-left: 12px;
}

.input-password {
    margin-top: 12px;
}

.forgot-password {
    font-size: 18px;
    color: #000000;
    margin: 30px 830px 30px;
    display: block;
    text-decoration: none;
}

button {
    background: #323232;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.link-signup {
    display: block;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #969696;
}

strong {
    color: #323232
}

.or-paragrafh {
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.img-link {
    width: 100px;
    height: 100px;
    text-decoration: none;
margin-left: 20px;
margin-top: 20px;
}

#google {
    margin-left: 730px;
}